@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Libre+Franklin:400,800|Open+Sans');

/* Body Design */

body {
  font-family: "Open Sans";
  position: relative;
}


a:hover {
  color: #65666a !important;
}

a {
  color: #0061a0 !important;
}

.page {
  min-height: 97.5vh;
  margin: 10px;
  position: relative;
  display: block;
}

.content {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 900px;
}

h1 {
  font-family: "Libre Franklin" !important;
  font-weight: bold !important;
  font-size: 60px !important;
  text-transform: uppercase !important;
}

h2 {
  font-family: "Libre Franklin" !important;
  font-weight: 400 !important;
  font-size: 40px !important;
  text-transform: uppercase !important;
}

h3 {
  font-family: "Open Sans" !important;
  text-transform: uppercase !important;
  font-size: 22px !important;
}

table, tr {
  border: 1px solid black;
  width: 80%;
  padding: 2px;
}
td {
  text-align: right;
}

.quote {
font-family: "Dancing Script";
  font-size: 28px;
}

.red {
  color: #ef4b24;
}

.purple {
  color: #3d1951;
}

.spacer {
  height: 50px;
}

.counter-value {
  font-family: "Libre Franklin";
  font-weight: 800;
  font-size: 40px;
}

.image-container-wide {
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.image-container-tall {
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.data-box {
  background: #3d1951; /* Old browsers */
background: -moz-linear-gradient(-45deg, #3d1951 0%, #45354f 53%, #2f2535 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #3d1951 0%,#45354f 53%,#2f2535 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #3d1951 0%,#45354f 53%,#2f2535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
font-family: "Open Sans" !important;
  font-size: 1em;
}

.data-box:hover {
  opacity: .9;
  border-radius: 5px;
}
.number {
  font-size: 40px;
  font-family: "Libre Franklin" !important;
}

.purple-text {
  color: #3d1951;
}

/* Nav Bar */

.navbar {
  position: fixed !important;
  left: -195px;
  z-index: 3;
  background-color: rgba(255, 255, 255, .55);
  height: 100%;
  max-width: 230px;
  padding: 40px !important;
}

.nav-item {
  line-height: 15px;
}

.arrow-right {
  position: absolute;
  right: 5px;
    top: 45%;
  font-size: 18px;
}

.arrow-left {
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 18px;
}

.arrow:hover {
  color: #65666a;
}

p.note {
  font-size: 12px;
}


/* Main Title */

h1.main-title {
  color: white;
}

h3.main-title {
  color: white;
}

#main-title {
  background-color: #3d1951;
}

/* Engagement Chat */
#engagementContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

#chartEngagementTotal {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #ef4b24;
  border-radius: 50%;
}

#chartEngagementCulture {
  margin-top: 20%;
  margin-left: 20%;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #039691;
}

#chartEngagementDirect {
margin-top: 20%;
  margin-left: 20%;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #f9a11b;
}

footer {
  text-align: center;
  padding: 15px;
}
